
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">ZenaPort</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">World</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/articles-Buisness">Buisness</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/articles-Politics">Politics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/articles-Sport">Sport</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Entertainment</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/articles-Entertainment">COVID-19</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/articles-Travel">Travel</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">Trend</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown03">
                  <li><a class="dropdown-item" href="/articles-Fashion">Fashion</a></li>
                  <li><a class="dropdown-item" href="/articles-Tradition">Tradition</a></li>
                  <li><a class="dropdown-item" href="/articles-Space">Space</a></li>
                </ul>
              </li>
            </ul>
            <form>
              <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </form>
          </div>
        </div>
      </nav>